@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

/* Custom dark mode selector */
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));


:lang(en) :not(.pi) {
  font-family: Lato, sans-serif;
}

:lang(kh) :not(.pi) {
  font-family: 'Battambang', system-ui;
}

.Roboto {
  font-family: 'Roboto', sans-serif !important;
}